endpoints:
  enabled: false
  health:
    enabled: true
  metrics:
    enabled: true

server:
  port: 8086
  compression:
    enabled: true
    mime-types: "application/json,application/xml,text/html,text/xml,text/plain,text/css,application/javascript"

dataservice:
  redis-host: localhost
  redis-port: 6379
  oauth2-token-info-url: ${TOKENINFO_URL:http://localhost:10080/oauth2/tokeninfo}
  kairosdb-write-urls:
    - ["http://localhost:8083"]
  write-all-job-metrics: true
  oauth2-scopes:
    getApi: "#oauth2.hasScope('zmon_data.read_all') || (#oauth2.hasScope('uid') && #oauth2.hasRealm('/employees'))"
    putApi: "#oauth2.hasScope('zmon_data.read_all') || (#oauth2.hasScope('uid') && #oauth2.hasRealm('/employees'))"
    deleteApi: "#oauth2.hasScope('zmon_data.read_all') || (#oauth2.hasScope('uid') && #oauth2.hasRealm('/employees'))"

spring:
  redis:
    host: localhost
    port: 6379
    database: 0
    pool:
      max-active: 10
      max-idle: 4
      min-idle: 2
